@maxWidth : 340px;
body {}

h1 {
    color: green;
}

mm-search {
    ul {
        padding: 0;
        li {
            list-style-type: none;
        }
    }
    #search {
        border: 1px solid black;
        width: @maxWidth;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        div{
            width: 100%;
        }

    }
    #inputFile {
        display: none;
    }
}

mm-result {
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
        height: 60px;
    }
    max-width: @maxWidth;
}

mm-player {
    ol {
        padding: 0;
        li {
            list-style-type: none;
        }
    }
}

mm-item {
    div:nth-of-type(1) {
        max-width: @maxWidth;
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
            height: 60px;
        }
        .img-circle {
            border-radius: 60px;
        }
        div {
            display: flex;
            flex-direction: column;

            min-width: 200px;
            span{
                max-width: 170px;
                align-self: flex-start;
            }
            span:nth-of-type(3) {
                align-self: flex-end;
            }
        }
    }
    div:nth-of-type(2) {
        input {
            width: @maxWidth;
        }
    }
}

.hide {
    display: none;
}

.show {
    display: initial;
}
